#define WLAN_SSID       "Your SSID"        // cannot be longer than 32 characters!
#define WLAN_PASS       "Your Password"

const char
  host[]          = "my.server.com",
  endpoint[]      = "/api/endpoint";
char private_key[]   = "mYpRiVaTeKeY"; // 12 characters long !!